# VSCode
.vscode

# LaTeX (code).
**/output/

# LaTeX.
**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.nav
**/*.snm
**/*.fls
**/*.out
**/*.toc
**/*.fmt
**/*.fot
**/*.cb
**/*.cb2
**/.*.lb
**/*.bb*
**/*.bcf
**/*.blg
**/*-blx.aux
**/*-blx.bib
**/*.run.xml
**/*.fdb_latexmk
**/*.glo
**/*.ist
**/*.acn
**/*.gz
**/*.alg
**/*.glg
**/*.ps
**/*.dvi
**/*.acr
**/*.synctex*
**/*.auxlock

presentation.pdf
thesis.pdf
thesis_bw.pdf

content/tikz/*.pdf
content/tikz/*.xml
content/tikz/*.dpth
content/tikz/*.log
content/tikz/*.md5